@font-face {
  font-family: 'Druk Wide';
  src: url("../fonts/DrukWide-Bold.eot");
  src: url("../fonts/DrukWide-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DrukWide-Bold.woff2") format("woff2"), url("../fonts/DrukWide-Bold.woff") format("woff"), url("../fonts/DrukWide-Bold.ttf") format("truetype"), url("../fonts/DrukWide-Bold.svg#DrukWide-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

.display, h1, h2, h3, h4, h5 {
  font-family: 'Druk Wide'; }

.text, body {
  font-family: "Asap"; }

.regular, body {
  font-weight: 400; }

.medium {
  font-weight: 500; }

.semibold, a {
  font-weight: 600; }

.bold {
  font-weight: 700; }

@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

@-moz-keyframes move-clouds-back {
  from { }
  background-position: 0 0;
  to {
    background-position: 10000px 0; } }

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0; }
  background-position: 10000px 0; }

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block; }

.stars {
  background: #000 url(../images/bg/stars.png) repeat top center;
  z-index: 0; }

.twinkling {
  background: transparent url(../images/bg/twinkling.png) repeat top center;
  z-index: 1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite; }

.clouds {
  background: transparent url(../images/bg/clouds3.png) repeat top center;
  z-index: 3;
  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite; }

body {
  color: #000000; }

h1 {
  color: white; }

a {
  color: #000000; }
  a:hover {
    text-decoration: underline;
    color: #000000; }

img {
  width: 100%; }

img.mfp-img {
  max-height: 6000px !important; }

.mfp-container button {
  position: fixed; }

.mfp-bottom-bar {
  display: none; }

.paddsection {
  padding-top: 8em;
  padding-bottom: 5em; }

nav {
  position: fixed;
  background: #fff;
  z-index: 1000;
  width: 100%;
  height: 100px;
  padding: 20px;
  display: none;
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18); }
  nav.main-nav {
    float: right;
    line-height: 32px;
    margin-bottom: 0;
    padding-top: 16px; }
    nav.main-nav .container-fluid {
      padding: 0;
      position: relative;
      height: 100%; }
    nav.main-nav .nav-menu {
      position: absolute;
      height: 100%;
      width: 100%; }
      nav.main-nav .nav-menu li {
        display: inline-block; }
      nav.main-nav .nav-menu li.section {
        float: right;
        padding-left: 2em;
        padding-top: 1.25em; }
        nav.main-nav .nav-menu li.section h4 {
          font-size: 1.2em; }
        nav.main-nav .nav-menu li.section a {
          display: inline-block;
          padding: 0.5em 1em 0.25em; }
          nav.main-nav .nav-menu li.section a.active {
            background-color: #000000;
            color: #fff; }
          nav.main-nav .nav-menu li.section a:hover {
            text-decoration: none;
            background-color: #000000;
            color: #fff; }
      nav.main-nav .nav-menu .logo {
        width: 4em;
        display: inline-block; }
      nav.main-nav .nav-menu a {
        text-align: center; }
    nav.main-nav .section img {
      width: 80%; }

.header {
  height: 100vh;
  width: 100%;
  background-attachment: fixed; }
  .header .header-content {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .header .header-content h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 4em;
      z-index: 10; }
    .header .header-content .list-social li {
      float: left;
      margin-right: 20px; }
      .header .header-content .list-social li i {
        color: #fff;
        font-size: 15px; }

.about .me {
  border-radius: 100%; }

.about .what-i-do {
  margin: 4em 0 0; }
  .about .what-i-do img {
    height: 7em;
    margin: 1.5em 0; }
  .about .what-i-do h5 {
    min-height: 3.5em; }
  .about .what-i-do p {
    margin-bottom: 0; }
  .about .what-i-do .last {
    background: #000000;
    color: #fff; }
