//fonts

@font-face
    font-family: 'Druk Wide'
    src: url('../fonts/DrukWide-Bold.eot')
    src: url('../fonts/DrukWide-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DrukWide-Bold.woff2') format('woff2'), url('../fonts/DrukWide-Bold.woff') format('woff'), url('../fonts/DrukWide-Bold.ttf') format('truetype'), url('../fonts/DrukWide-Bold.svg#DrukWide-Bold') format('svg')
    font-weight: bold
    font-style: normal


.display
    font-family: 'Druk Wide'

.text
    font-family: "Roboto"

.regular
    font-weight: 400    

.medium
    font-weight: 500

.semibold
    font-weight: 600

.bold
    font-weight: 700

//colors

$primary: #000000
$secondary: #adccd3
$darkest: #323345
$dark: #606060
$lightest: #a0a0a0
$primary-dark: #915859
$secondary-dark: #8fadb5


//bg

@keyframes move-twink-back 
    from  
        background-position: 0 0
    to  
        background-position: -10000px 5000px
   
 
@-webkit-keyframes move-twink-back
    from  
        background-position: 0 0 
   
    to  
        background-position: -10000px 5000px 
   
 
@-moz-keyframes move-twink-back 
    from  
        background-position: 0 0 
   
    to  
        background-position: -10000px 5000px 
   
 
@-ms-keyframes move-twink-back  
    from  
        background-position: 0 0 
   
    to  
        background-position: -10000px 5000px 
   
 

@keyframes move-clouds-back  
    from  
        background-position: 0 0 
   
    to  
        background-position: 10000px 0 
   
 
@-webkit-keyframes move-clouds-back  
    from  
        background-position: 0 0 
   
    to  
        background-position: 10000px 0 
   
 
@-moz-keyframes move-clouds-back  
    from  
    background-position: 0 0 
   
    to  
        background-position: 10000px 0 
   
 
@-ms-keyframes move-clouds-back  
    from  
        background-position: 0 
   
    to  
    background-position: 10000px 0 
   
 

.stars, .twinkling, .clouds  
    position: fixed 
    top: 0 
    left: 0 
    right: 0 
    bottom: 0 
    width: 100% 
    height: 100% 
    display: block 
 

.stars
    background: #000 url(../images/bg/stars.png) repeat top center 
    z-index: 0 
 

.twinkling  
    background: transparent url(../images/bg/twinkling.png) repeat top center 
    z-index: 1
    -moz-animation: move-twink-back 200s linear infinite
    -ms-animation: move-twink-back 200s linear infinite
    -o-animation: move-twink-back 200s linear infinite
    -webkit-animation: move-twink-back 200s linear infinite
    animation: move-twink-back 200s linear infinite 
 

.clouds
    background: transparent url(../images/bg/clouds3.png) repeat top center 
    z-index: 3
    -moz-animation: move-clouds-back 200s linear infinite
    -ms-animation: move-clouds-back 200s linear infinite
    -o-animation: move-clouds-back 200s linear infinite
    -webkit-animation: move-clouds-back 200s linear infinite
    animation: move-clouds-back 200s linear infinite 
 


//mediaqueries mixins

@mixin for-phone-only
    @media (max-width: 599px)
        @content
@mixin for-tablet-portrait-up
    @media (min-width: 600px)
        @content
@mixin for-tablet-landscape-up
    @media (min-width: 900px)
        @content
@mixin for-desktop-up
    @media (min-width: 1200px)
        @content
@mixin for-big-desktop-up
    @media (min-width: 1800px)
        @content

//general rules




body
    color: $primary
    @extend .regular
    @extend .text
    background-color: $primary

h1
    @extend .display
    color: white

h2, h3, h4, h5
    @extend .display

a
    @extend .semibold
    color: $primary
    &:hover
        text-decoration: underline
        color: $primary

img
    width: 100%

.mfp-wrap
    z-index: 999999
    background: rgba(0, 0, 0, 0.7)

img.mfp-img
    max-height: 6000px !important

.mfp-container button
    position: fixed

.mfp-bottom-bar
    display: none

.paddsection
    padding: 3em 0
    margin: 4em 0
    position: relative
    background: white
    z-index: 9999

//nav

nav
    position: fixed
    background: #fff
    z-index: 10000
    width: 100%
    height: 5em
    padding: 1em
    display: none
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18)
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18)
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18)

    .responsive
        font-size: 2em

    &.main-nav
        float: right
        line-height: 32px
        margin-bottom: 0
        padding-top: 16px

        .container-fluid
            padding: 0
            position: relative
            height: 100%

        .nav-menu
            position: absolute
            height: 100%
            width: 100%
            margin: 0

            li
                display: inline-block
            
            li.section
                float: right
                padding-left: 1em
                padding-top: 0.5em
                background: white

                h4
                    font-size: 1.2em

                a
                    display: inline-block
                    padding: 0.5em 1em 0.25em
                    &.active
                        background-color: $primary
                        color: #fff
                    
                    &:hover
                        text-decoration: none
                        background-color: $primary
                        color: #fff

            .logo
                width: 3em
                display: inline-block
                padding: 0

            
            a
                text-align: center


        .section
            img
                width: 80%


//header
.header
    height: 100vh
    width: 100%
    background-attachment: fixed
    .header-content
        height: 100vh
        text-align: left
        width: 100%
        display: flex
        justify-content: center
        flex-direction: column
    
        h1
            text-align: center
            text-transform: uppercase
            font-size: 4em 
            z-index: 10
        
        .list-social
            li
                float: left
                margin-right: 20px
                
                i
                    color: #fff
                    font-size: 15px


.about
    .what-i-do
        margin: 4em 0 0
        img
            height: 7em
            margin: 1.5em 0
        h5
            min-height: 3.5em
            font-size: 1em
            @include for-tablet-portrait-up
                font-size: 1.2em
        p
            margin-bottom: 0
        .last
            background: $primary
            color: #fff

.portfolio
    position: relative
    padding-bottom: 3em
    
    .portfolio-list
        .nav
            display: inline-block
            margin: 0
            li
                margin: 1em 1em 2em
                float: left
                font-size: 1.1em
                line-height: 2em
                cursor: pointer
                text-transform: lowercase
                -moz-transition: all 0.5s ease-in-out 0s
                -ms-transition: all 0.5s ease-in-out 0s
                -o-transition: all 0.5s ease-in-out 0s
                -webkit-transition: all 0.5s ease-in-out 0s
                transition: all 0.5s ease-in-out 0s

                h5
                    margin: 0

                &.filter-active
                    border-bottom: solid 3px #000


    .portfolio-container
        display: inline-block
        width: 100%
        
        .portfolio-thumbnail
            margin-bottom: 30px
            overflow: hidden
            min-height: 260px
            img
                max-width: 100%



    .all
        .popup-img
            position: relative
            display: inline-block
            overflow: hidden
            .hover-wrap
                display: none
            &:hover
                .hover-wrap
                    display: block
                    position: absolute
                    top: 0
                    z-index: 9999
                    min-height: 25em
                    background-color: black
                    width: 100%
                    h4
                        color: white
                        margin-top: 30%




.contact
    background: transparent
    color: white

    
    .form-group
        position: relative
        margin: 1.5rem 0
        text-align: left


        textarea
            height: 6em

    .form-control
        border: solid 1px $lightest
        background-color: transparent
        border-radius: 0
        height: 3.5em
        color: $lightest

        &:focus
            background-color: transparent
            color: white
            border-color: white
    



    .form-control-placeholder 
        position: absolute
        top: 0
        padding: 1em
        transition: all 200ms
        opacity: 1
        color: white


    .form-control:focus + .form-control-placeholder,
    .form-control:valid + .form-control-placeholder 
        font-size: 75%
        transform: translate3d(0, -100%, 0)
        opacity: 1

            


    .message
        display: none
        text-align: center
        padding: 1em
        margin: 0
        width: 100%
        &.success
            color: #18d26e
        &.error
            color: red
        
        &.show
            display: block

    .btn
        border: none
        background: transparent
        text-transform: none
        @extend .display
        background: black
        font-size: 1.2em

        &:hover
            background: white
            color: black
            transition: all 0.5s ease-in-out 0s

    .social
        margin-top: 3em
        margin-bottom: 0
        li
            display: inline-block
            padding: 1em
        a
            font-size: 2em
            color: white
